# Express Crendential Info
PORT=8080
NODE_ENV=development

# Prisma + Neon Setup
DATABASE_URL="postgresql://neondb_owner:npg_ysFSU9l4oDaN@ep-dry-sun-a1c06jq7-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Auth Token
JWT_SECRET="e990772a0921a5a00fa76d2a714ddf4de3fc6896b2c27cedc924a394bcc9a59b"
JWT_EXPIRES_IN="3d"

# Cloudinary Config
CLOUDINARY_NAME="dbn9nkjum"
CLOUDINARY_API_KEY="374653344975755"
CLOUDINARY_API_SECRET="ekXZ_pHiMGnGQwe3YGwXnFRG0gI"

# R2 Cloudflare Storage Config
R2_ACCOUNT_ID="3e005327d777fdb1092b7208bb6e369b"
R2_ACCESS_KEY_ID="a864cb12036d63dc82f525474f494116"
R2_SECRET_ACCESS_KEY="9103b5dd1ac4364615188f7e137286d375e5802e704ac81560bcbc38a1ea6266"
R2_PUBLIC_URL="https://pub-c9aff404d2334f9f9a3942b5beb7104c.r2.dev"
R2_BUCKET_NAME="cms-bucket"

# Bakong Config
BAKONG_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImlkIjoiYWQxYmI3ZjBhNWEyNGRjMSJ9LCJpYXQiOjE3NjgxNTgxODAsImV4cCI6MTc3NTkzNDE4MH0.u3pJr8HYjG1GySERDoSX7PrZMkRLkO7u1r4LUwNlTCU"
BAKONG_ACCOUNT_ID="nang_vannet@bkrt"
BAKONG_MERCHANT_NAME="NANG VANNET"
BAKONG_MERCHANT_CITY="Phnom Penh"
BAKONG_STORE_LABEL="COURSE PLATFORM"
BAKONG_TERMINAL_LABEL="ONLINE CMS WEBSITE"

# Redis Cache
REDIS_EXPIRATION=3600    # in seconds = 1 hour

